# xcode
SCHEME=xxx
PROJECT=xxx
APP_IDENTIFIER=xxx
APPLE_ID=xxx
PROFILE=xxx

# snapshot
SNAPSHOT_SCHEME=xxx

# hipchat
HIPCHAT_API_TOKEN=xxx
HIPCHAT_API_VERSION=xxx
HIPCHAT_ROOM=xxx

# android
ANDROID_BUILD=xxx
ANDROID_STORE_PASS=xxx
ANDROID_KEY=xxx
ANDROID_ZIPALIGN=xxx

# hockey
IOS_HOCKEY_TOKEN=xxx
ANDROID_HOCKEY_TOKEN=xxx
ANDROID_HOCKEY_ID=xxx

# play store
PLAY_API_KEY=xxx
